body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Concert One', cursive;
    font-size: 5rem;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#container {
    position: fixed;
    bottom: 0;
    margin-left: 12px;
}

#btn {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Concert One', cursive;
    font-size: 5rem;
    cursor: pointer;
    border: 0;
    padding: 0;
}

#btn:active {
    transform: scale(0.96);
}