body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Concert One', cursive;
    font-size: 5rem;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#container {
    position: fixed;
    bottom: 0;
    margin-left: 12px;
}

#btn {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Concert One', cursive;
    font-size: 5rem;
    cursor: pointer;
    border: 0;
    padding: 0;
}

#btn:active {
    transform: scale(0.96);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}